<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>client_3_2</string>
	<key>appSecret</key>
	<string>3b924f6ec5b14ffeb66316de34edaa448e03f71dab934b99a4bb50d8c4b6aee7</string>
	<key>clientId</key>
	<string>client_3_1</string>
	<key>clientSecret</key>
	<string>e562510618a246dbad6410aec35b0bceaafa31636acd4c76914d3576b4dbba7b</string>
	<key>authEndpoint</key>
	<string>https://staging-auth.storyclm.com</string>
	<key>apiEndpoint</key>
	<string>https://staging-api.storyclm.com</string>
</dict>
</plist>
