<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>client_49_1</string>
	<key>clientSecret</key>
	<string>51073e7794374c678ed54f5ea7fa0b753fbbfad6e22942ce88a75d2e8268d730</string>
	<key>authEndpoint</key>
	<string>https://auth.storyclm.com</string>
	<key>apiEndpoint</key>
	<string>https://api.storyclm.com</string>
</dict>
</plist>
